* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
      background: blueviolet;
  }
  .heading{
      text-align: center;
      font-size: 3rem;
      margin-bottom: 1.5rem;
  }
  .cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  
}
  .card{
      width: 23%;
      box-shadow: 0 0 4px black;
      text-align: center;
      padding: 1.5rem;
      margin-bottom: 2rem;  
  }
  .card img{
      height: 200px;
      width: 200px;
  }